{% load static %}
{% load index %}
{% csrf_token %}

<style type="text/css">

.rs {
	width: 69px;
	height: 69px;
}

table, th, td {
    border: 7px solid black;
    height: 70px;
    width:  70px;
    padding: 5px;

    text-align: center;
}

table tr:nth-child(2n) td:nth-child(2n+1) {

	background-color: black;
}
table tr:nth-child(2n+1) td:nth-child(2n) {
    background-color: black;
}
</style>

<table>

    {% for i in kooft %}
        <tr>
         {% for j in kooft %}
            {% if pos|index:i|index:j != '.' %}
                <td><img class="rs" src="{% static pos|index:i|index:j %}.jpg"></td>
            {% else %}
                <td></td>
                {% endif %}

         {% endfor %}
        </tr>
    {% endfor %}

    </table>

		<form action="{% url 'ata:game' %}" method="post">{% csrf_token %}</br>

            <input type="text" name="s" id="s" placeholder="move here" style="width: 180px"></br></br>

            <input type="submit" name="submit" value="submit"></br></br>

        </form>
</style>