<form action = "{% url 'ata:register' %}" method = "POST" >
  {% csrf_token %}
  Username : <input type = "text" name = "username" ><br/>
  Email : <input type = "text" name = "email" ><br/>
  Password : <input type = "password" name = "password" ><br/>
  Confirm Password : <input type = "password" name = "c_password" ><br/>
  <input type = "submit" value = "Login">
</form>
